:root {
  --background-color: #777777;
  --foreground-color: #9d9d9d;
  --header-color: #454545;
}

.editor {
  width: 500vw;
  height: 30vh;
  margin: 5% auto 75px auto;
}

.header {
  background-color: var(--header-color);
  width: 500px;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 1px solid black;
}

.header-text{
  color: white;
  margin: 0;
  text-align: center;
  vertical-align: center;
}

.editor-area {
  width: 500px;
  height: 90%;
  margin: 0;
  padding: 0;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
}

