:root {
  --background-color: #777777;
  --foreground-color: #9d9d9d;
  --header-color: #454545;
}

.editor {
  width: 60vw;
  height: 30vh;
  margin: 2% auto 0% auto;
}

.preview-div {
  width: 80vw;
  min-height: 60vh;
  margin: 50px auto 30px auto;
  background-color: white;
  border: 3px solid black;
}

.header {
  background-color: var(--header-color);
  width: 100%;
  height: 10%;
  margin: 0;
  border-top: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  border-bottom: 1px solid black;
}

.preview-header {
  border-bottom: 1px solid black;
  background-color: var(--header-color);
  width: 100%;
  height: 10%;
  margin: 0;
}

.header-text{
  color: white;
  text-align: center;
  margin: 0;
}

.editor-area {
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0% auto 0% auto;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-left: 3px solid black;
  resize: none;
}

.preview {
  width: 100%;
  height: 90%;
  padding: 0;
  margin: 0% auto 0% auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

pre, code {
  background-color: var(--foreground-color);
}

pre {
  width: 80%;
  margin-left: 10px;
}

blockquote {
  background-color: var(--foreground-color);
  padding: 10px;
  margin: 0px auto 0px auto;
  width: 80%;
}

img {
  width: 100%;
}